@import 'reset';
@import 'themes/normal';
@import 'themes/dark';
@import 'variables/global';

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--font-color);
  background: var(--bg-color);
}
