.navButton {
  cursor: pointer;

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: 196px;
  height: 38px;

  font-size: 16px;
  font-weight: 400;
  color: #fdfdfd;

  border-radius: 6px;
}

.navButtonActive {
  background: var(--main-secondary-color);
}