.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 196px;
  height: 38px;

  font-size: 16px;
  font-weight: 400;
  color: #fdfdfd;

  // background: #24484e;
  background: #183a40;
  border-radius: 6px;
}