.app.dark {
    --main-color: #24484e;
    --main-secondary-color: #183a40;
    --bg-color: #252525;
    --accent-color: #f15a3b;
    --accent-secondary-color: #fb7a7a;
    --font-color: #fdfdfd;
    --font-add-color: #929292;
    --font-add-secondary-color: #717171;
    --input-color: #717171;
    --input-secondary-color: #606060;
    --input-third-color: #454545;
    --button-color: #252525;
    --button-secondary-color: #363636;
    --button-third-color: #191919;
}
