.app.light {
    --main-color: #365b61;
    --main-secondary-color: #24484e;

    --bg-color: #fdfdfd;

    --accent-color: #f15a3b;
    --accent-secondary-color: #c83939;

    --font-color: #191919;

    --font-add-color: #929292;
    --font-add-secondary-color: #717171;

    --input-color: #f3f1f1;

    --button-color: #40808a;
    --button-secondary-color: #365b61;
    --button-third-color: #183a40;
}
